<p id="notice"><%= notice %></p>

<h1>Listing Patroes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Telefone</th>
      <th>Proposta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patroes.each do |patrao| %>
      <tr>
        <td><%= patrao.nome %></td>
        <td><%= patrao.endereco %></td>
        <td><%= patrao.telefone %></td>
        <td><%= patrao.proposta %></td>
        <td><%= link_to 'Show', patrao %></td>
        <td><%= link_to 'Edit', edit_patrao_path(patrao) %></td>
        <td><%= button_to 'Excluir', patrao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patrao', new_patrao_path %>
